<%- include("partials/header") -%>
<h1 style="margin-top: 10%;">About</h1>
<h2><%= about %> </h2>
<center>
    <img src="/images/my_family.jpeg" alt="my family" class="familyImg" width="200" height="200">
    <br>
    <p>우측 상단</p>
</center>

<p style="margin-top: 5%;">
    이름: 박희천 <br>
    생년: 1992 <br>
    학력: Minnesota State University, Moorhead (B.S. in CompSci) <br>
    <br><br>
    안녕하세요.

    저는 2019년 12월에 Minnesota State University를 졸업하고 MPI를 기반으로 한 클라우드 컴퓨팅 쪽으로 대학원 진학과 미국 내 취업 준비중에
    일어난 COVID-19 인하여 미국에서의 꿈은 접어두고 한국으로 귀국한 박희천 이라고 합니다. 대학교에서 웹 개발 관련 수업은 Vanilla HTML/CSS/Javascript 그리고 PHP와 MySQL을
    이용한 수업에 흥미를 느껴 조금씩 공부하다 보니 웹 개발의 편의를 둔 Framework (Bootstrap, React, Mongoose, 및 Vue.js)를 독학 (Udemy를 통해서) 중입니다.
</p>

<div class="container">

    <h3>현재 사용하기 편한 언어/기술/개념</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/python.png" alt="py" class="langImg">
        </div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/bootstrap.png" alt="boot"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/c++.jpeg" alt="cpp" class="langImg">
        </div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/java.jpeg" alt="java" class="langImg">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/mongodb.jpeg" alt="mongo"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/mysql.jpeg" alt="mysql" class="langImg">
        </div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/nodejs.png" alt="nodejs"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/openmpi.png" alt="mpi" class="langImg">
        </div>
    </div>

    <h3>관심있거나 배우고 있는 언어/기술/개념</h3>
    <div class="row">
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/django.jpeg" alt="django"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/docker.png" alt="docker"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/dotnet.png" alt="dotnet"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/react.jpeg" alt="react" class="langImg">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/typescript.png" alt="typescript"
                class="langImg"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"><img src="/images/vue.jpeg" alt="vue" class="langImg">
        </div>
        <div class="col-lg-3 col-md-6 justify-content-center"></div>
        <div class="col-lg-3 col-md-6 justify-content-center"></div>
    </div>
</div>


<%- include("partials/footer") -%>