<%- include("partials/header") -%>
<h1 style="margin-top: 10%;">Contact</h1>
<br>
<h2><%= contact %> </h2>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-info">박희천</a>
            <a class="list-group-item list-group-item-info">010-5667-3256</a>
            <a href="mailto:heecheon92@gmail.com" class="list-group-item list-group-item-action list-group-item-info">이메일 보내기</a>
            <a href="https://www.github.com/heecheon92" class="list-group-item list-group-item-action list-group-item-info">GitHub</a>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
<%- include("partials/footer") -%>